.navbar {
  margin: 0;
  padding: 0;
}
.navbar-ul {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-li {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.nav-link {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
  background: #cd9d6a;
  font-family: "Cinzel", serif;
  &:hover {
    color: #fff;
  }
  &.active {
    color: #fff;
    background: #795548;
  }
}

@media (max-width: 992px) {
  .navbar-ul {
    width: 100%;
    display: flex;
    list-style: none;
  }

  .nav-li {
    width: 50%;
    cursor: pointer;
    margin: 0 5px;
    &:hover {
      color: #cd9d6a;
    }
  }

  .nav-link {
    margin: 0 -5px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: "Cinzel", serif;
  }
}

@media (max-width: 768px) {
  .navbar-ul {
    width: 100%;
    display: flex;
    list-style: none;
  }

  .nav-li {
    width: 50%;
    cursor: pointer;
    margin: 0 5px;
    &:hover {
      color: #cd9d6a;
    }
  }

  .nav-link {
    margin: 0 -5px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: "Cinzel", serif;
  }
}

@media (max-width: 576px) {
  .navbar-ul {
    width: 100%;
    display: flex;
    list-style: none;
  }

  .nav-li {
    width: 50%;
    cursor: pointer;
    margin: 0 5px;
    &:hover {
      color: #000;
    }
  }

  .nav-link {
    margin: 0 -5px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-family: "Cinzel", serif;
  }
}
