<div class="forum">
    <div class="container">
      <div class="row">
        <nav class="navbar col-lg-12 justify-content-center navbar-expand-lg navbar-light bg-light" >
          <ul class="navbar-ul">
            <li class="navbar-li">
              <a class="nav-link" routerLinkActive="active" routerLink="list-forum">
                  Forum
              </a>
            </li>
            <li class="navbar-li">
              <a class="nav-link" routerLinkActive="active" routerLink="add-forum">
                Add Coment
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>  
    <router-outlet></router-outlet>
  </div>