<div class="home-bg-pg">
  <div class="container">
    <div class="row">
      <section class="home col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <p class="text-rare">Стародавня ГРЕЦІЯ, 431 РІК ДО Н. Е.</p>
              <h1 class="title">
                Зроби неймовірну одіссею, подібно легендарним грецький героям
              </h1>
              <p class="text">"Золотий вік", коли ще жива спадщина богів.</p> 
              <p class="text">Час великих воєн, героїв і краси.</p>

              <!-- <div class="btn-hover">
                <button class="btn video-btn" id="video-home-trailer">
                  Дивитись 
                </button>
              </div> -->
              
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="trailer col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">Трейлер до виходу</h1>
              <p class="text">Всупереч пророцтвам, творіть долю самі!</p>
              <!-- <div class="btn-hover">
                <button class="btn video-btn" id="video-trailer">
                  Дивитись
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="heroes col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">Вперше увесь світ в небезпеці</h1>
              <p class="text">
                Приготуйтеся до непростим випробуванням і насолодитесь
                пригодами, які чекають вас у Стародавній Греції.
              </p>
              <!-- <div class="btn-hover">
                <button class="btn video-btn" id="video-kasandra-trailer">
                  Вибрати Касандру
                </button>
              </div>
              <div class="btn-hover">
                <button class="btn video-btn" id="video-alexios-trailer">
                  Вибрати Алексіоса
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="choosehero col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">Визнач свою долю</h1>
              <p class="text">
                Ви, старша дитина спартанського воєначальника, були засуджені до
                смерті ... але зуміли врятуватися. Тепер вам належить
                відправитися в справжню одіссею, щоб розкрити секрети вашого
                роду. Пройдіть довгий шлях, щоб з ізгоя перетворитися в живу
                легенду. Рішення, які ви приймете в процесі, змінять долю всієї
                Греції.
              </p>
              <!-- <div class="btn-hover">
                <button class="btn video-btn" id="video-choosehero-trailer">
                  Дивитись трейлер
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="epic col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <p class="text-rare">ГРЕЦІЯ, 431 РІК ДО Н. Е.</p>
              <h1 class="title">
                У МАСШТАБНЕ ВІДКРИТТЯ СВІТІВ що ПОДАРУЄ МОРЕ ПРИГОД
              </h1>
              <p class="text">
                Досліджуйте простори Греції від засніжених гірських вершин до
                глибин Егейського моря. Відвідайте галасливі міста, досліджуйте
                території, яких немає на карті, і знайдете приховані скарби.
                Пропрацюваний відкритий світ, в якому оживають міфи, таїть в
                собі чимало небезпек. Він постійно змінюється і реагує на ваші
                дії.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="sail col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">
                ПОДОРОЖУЙТЕ І БОРІТЬСЯ НА ПРОСТОРАХ ТАЄМНИЧИХ МОРЕЙ
              </h1>
              <p class="text">
                Подорожуйте по безшовному світу серед небезпечних морів і
                островів, де вирує життя. Змінюйте зовнішній вигляд корабля,
                змінюйте зброю, наймайте в команду бійців з унікальними
                навичками, щоб дотримуватися зручного стилю ведення бою.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="delve col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ПОРИНУТИ У СВІТ СТАРОДАВНЬОЇ ГРЕЦІЇ</h1>
              <p class="text">
                У глибинах океану прихований цілий світ, який ви зможете
                досліджувати. Пориньте в кристально чисті води і вирушайте на
                пошуки затонулих кораблів, де можна знайти скарби, і затоплених
                храмів. Також ви зможете досліджувати усіма забуту систему
                підводних печер.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="fight col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">Боріться за себе</h1>
              <p class="text">
                Продемонструйте неперевершене мистецтво ведення бою і змінюйте
                результат боїв Пелопоннеської війні.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="legendary col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ВИКОРИСТОВУЙТЕ ЛЕГЕНДАРНІ ЗДІБНОСТІ</h1>
              <p class="text">
                Ви - прямий нащадок Леоніда, царя Спарти. Ви успадкували його
                зламаний спис, якИЙ наділяє вас легендарними здібностями, які
                можна покращувати і змінювати відповідно з вашим стилем гри.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="battles col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">У МАСШТАБНИХ БИТВАХ</h1>
              <p class="text">
                Світ охоплений війною. Покажіть, на що ви здатні, беручи участь
                в масштабних битвах між Афінами і Спартою разом з сотнями інших
                воїнів.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="choose col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ВИРІШУЙ, КИМ ВИ ХОЧЕТЕ БУТИ</h1>
              <p class="text">
                Вперше в серії Assassin's Creed ви зможете вибрати, хто стане
                героєм цього грандіозного пригоди - Алексіос або Кассандра.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="playstyle col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ОБЕРІТЬ СВІЙ СТИЛЬ ІГРИ</h1>
              <p class="text">
                Підготуйтеся до війни. Виробіть свій стиль гри, використовуючи
                різні вміння, притаманні воїну, вбивці або стрілку. У вашому
                розпорядженні виявиться унікальне спорядження і великий арсенал
                зброї - від списів до мечів. Вбивайте ворогів різними способами.
                Одягайте кожен елемент спорядження і покращуйте здібності, щоб
                отримати перевагу в бою.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="choose-path col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ОБЕРІТЬ СВІЙ ШЛЯХ</h1>
              <p class="text">
                Ніяких невірних шляхів і неправильних виборів. Ваші можливості
                безмежні. Навколишній світ змінюється в залежності від ваших
                рішень. Вас чекають різні варіанти кінцівок гри і більше 30
                годин діалогів, в ході яких постійно доведеться робити вибір.
                Приймайте рішення з розумом, щоб не довелося шкодувати про
                скоєне.
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <section class="live col-12">
        <div class="pg-frame">
          <div class="frame">
            <div class="box">
              <h1 class="title">ЗДІЙСНІТЬ СВОЮ ОДІССЕЮ</h1>
              <p class="text">
                Прокладіть свій шлях через Грецію, яка переживає період
                розквіту, в Assassin's Creed Одіссея. Грай героєм і розкрийте
                таємниці свого минулого.
              </p>
              <div class="btn-hover">
                <button class="btn">
                  <a
                    class="btn-a"
                    href="https://assassinscreed.ubisoft.com/game/ru-ru/odyssey"
                  >
                    На офіційний сайт
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
